<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sean Rapp | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-sanitize.min.js"></script>
    <script src="js/effects.js"></script>
    <script src="js/module.js"></script>
    <script src="js/tab-controller.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-app="app">

    <div class="jumbotron">
      <div class="header">
        <h1>Sean Rapp</h1>
        <div class="subtitle">
          Programmer, student, etc.
        </div>
      </div>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="sites/grademate/index.html">GradeMate</a></li>
    </ul>

    <hr class="spacer">

    <div class="main">
      <div class="container text-center"> <!-- About me -->
        <h2 class="title">Hello! My name's Sean.</h2>
        <p>
          I'm a software developer studying Computer Science at the University of Central Florida.<br>
          I spend most of my time making something, or looking for what to make next.
        </p>
      </div> <!-- end About me -->

      <hr class="spacer">

      <div ng-controller="TabController">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" ng-class="experienceTabActive()" ng-click="experience()"><a href="javascript:void(0);">Experience</a></li>
          <li role="presentation" ng-class="projectsTabActive()"   ng-click="projects()"  ><a href="javascript:void(0);">Projects</a></li>
          <li role="presentation" ng-class="educationTabActive()"  ng-click="education()" ><a href="javascript:void(0);">Education</a></li>
        </ul>
        <span ng-bind-html="currentTab()"></span>
      </div>

      <hr class="breaker">

    </div>

    <footer class="footer">
      <p>
        <center>
          <a href="mailto:seanprapp@gmail.com" class="social">
            <img src="assets/mail.png" width="16" height="16" alt="email">
          </a>
          &nbsp;
          <a href="https://www.linkedin.com/in/sean-rapp-48a09b110" class="social">
            <img src="assets/in.svg" width="16" height="16" alt="linkedin">
          </a>
          &nbsp;
          <a href="https://github.com/shintoo" class="social">
            <img src="assets/github.svg" width="16" height="16" alt="github">
          </a>
          <p class="fineprint">
            Built by Sean Rapp
          </p>
        </center>
      </p>
    </footer>

  </body>
</html>