<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sean Rapp | GradeMate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular-sanitize.min.js"></script>
    <script src="js/module.js"></script>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-app="GradeMate">
    <div class="jumbotron">
      <div class="header">
        <h1>Sean Rapp</h1>
        <div class="subtitle">
          Programmer, student, etc.
        </div>
      </div>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li><a href="../../index.html">Home</a></li>
      <li class="active"><a href="index.html">GradeMate</a></li>
    </ul>

    <hr class="spacer">

    <div class="main">
      <div class="container text-center">
        <h2 class="title">GradeMate</h2>
        <p>How well are you doing?</p>
      </div>

      <hr class="spacer">

      <div class="container" ng-controller="GradeController">
        <table class="table">
          <tr>
            <th>Earned</th>
            <th>Possible</th>
            <th>Weight (%)</th>
            </tr>
            <tr ng-repeat="grade in grades">
              <td><input type="text" ng-model="grade.points" class="input-box" ng-click="grade.points=''"></td>
              <td><input type="text" ng-model="grade.possible" value="Possible" class="input-box" ng-click="grade.possible=''"></td>
              <td>
                <input type="text" ng-model="grade.weight" value="Weight" class="input-box" ng-click="grade.weight=''"> &nbsp;
                <input type="button" value="Remove" ng-click="remove($index)">
              </td>
            </tr>
            <tr>
              <td><input type="button" value="Add" ng-click="addGrade()"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Final Grade</td>
              <td></td>
              <Td><span ng-bind="'&nbsp;' + (finalGrade() | number: 2) + '%'"></span>
            </tr>
          </table>
        </div>
      </div>

      <footer class="footer">
        <p>
        <center>
          <a href="mailto:seanprapp@gmail.com" class="social">
            <img src="../../assets/mail.png" width="16" height="16" alt="email">
          </a>
          &nbsp;
          <a href="https://www.linkedin.com/in/sean-rapp-48a09b110" class="social">
            <img src="../../assets/in.svg" width="16" height="16" alt="linkedin">
          </a>
          &nbsp;
          <a href="https://github.com/shintoo" class="social">
            <img src="../../assets/github.svg" width="16" height="16" alt="github">
          </a>
          <p class="fineprint">
            Built by Sean Rapp
          </p>
        </center>
      </p>
    </footer>
    </body>
</html>
