.jumbotron {
    position: relative;
    background: #EEE url("assets/jumbotron-bg.png") center center;
    width: 100%;
    height: 50%;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.header {
	margin-left: 5%;
}